<div class="container">
    <div class="col-sm-6">
        <img src="images/people.jpg">
    </div>
    <div class="col-sm-6">
        <h1>Welcome to Confetti Cuisine</h1>
        <p>We are not resonsible for your food poisoning</p>
        <p>If you ate the stuff under your sink, click <a href="/courses"> the poison control page.</a></p>
        <p>If you think the food was good, you can <a href="/contact">contact us about what you did differently.</a></p>
        
    </div>
</div>